[Unit]
Description=Etcd Server
Documentation=https://github.com/coreos/etcd
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory={{ etcd_data_dir }}
EnvironmentFile={{ etcd_install_dir }}/etcd.conf
User=etcd
ExecStart=/bin/bash -c "/bin/etcd --name ${ETCD_NAME} --initial-advertise-peer-urls ${ETCD_ADVERTISE_PEER_URLS}\
--listen-peer-urls ${ETCD_ADVERTISE_PEER_URLS} \
--listen-client-urls ${ETCD_LISTEN_CLIENT_URLS} \
--advertise-client-urls ${ETCD_ADVERTISE_PEER_URLS} \
--discovery ${ETCD_DISCOVERY} \
--data-dir ${ETCD_DATA_DIR}"
Restart=always
RestartSec=10s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
