#Consul Template (Upstart unit)
[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/consul
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart={{ consul_install_dir }}/consul agent -config-dir {{ consul_config_file }} >> {{ consul_log_dir }}/consul.log 2>&1 &
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
